.contact-container {
  background-color: $secondary-color;
  height: 100vh;
}

.contact-div {
  display: flex;
  margin: 150px auto;
  justify-content: center;
  border: 2px solid $primary-color;
  width: 500px;
  height: 35vh;
  i {
    font-size: 2rem;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px;
  }
}

.work-together {
  margin-top: 15%;
  border-bottom: none;
  width: 65%;
}
