.hero-container {
  height: 100vh;
  position: relative;
  transform: translateZ(1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px;
  z-index: 2;
  h2 {
    font-size: 2.7rem;
    font-weight: 100;
  }
}

// Parallax elements
.blob {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  background-color: $secondary-color;
  z-index: -1;
}

// .b1 {
//   top: 100px;
//   left: 40%;
// }
// .b2 {
//   top: 1500px;
//   left: 600px;
// }
// .b3 {
//   top: 260px;
//   left: 750px;
// }
// .b4 {
//   top: 390px;
//   left: 660px;
// }
// .b5 {
//   top: 2480px;
//   left: 150px;
// }
// .b6 {
//   top: 590px;
//   left: 720px;
// }
// .b7 {
//   top: 1000px;
//   left: 130px;
// }
// .b8 {
//   top: 600px;
//   left: 300px;
// }
// .b9 {
//   top: 760px;
//   left: 450px;
// }
// .b10 {
//   top: 1890px;
//   left: 560px;
// }
// .b11 {
//   top: 1250px;
//   left: 750px;
// }
// .b12 {
//   top: 1100px;
//   left: 670px;
// }
// .b13 {
//   top: 2100px;
//   left: 300px;
// }
// .b14 {
//   top: 2200px;
//   left: 600px;
// }
// .b15 {
//   top: 3260px;
//   left: 100px;
// }
// .b16 {
//   top: 2390px;
//   left: 400px;
// }
// .b17 {
//   top: 3480px;
//   left: 750px;
// }
// .b18 {
//   top: 4090px;
//   left: 720px;
// }
// .b19 {
//   top: 4500px;
//   left: 200px;
// }
// .b20 {
//   top: 4600px;
//   left: 700px;
// }
// .b21 {
//   top: 4560px;
//   left: 750px;
// }
// .b22 {
//   top: 3200px;
//   left: 560px;
// }
// .b23 {
//   top: 3380px;
//   left: 650px;
// }
// .b24 {
//   top: 3090px;
//   left: 720px;
// }
