.hero-container {
  // background-color: rgb(102, 102, 208);
  height: 100vh;
  position: relative;
  transform: translateZ(1);
}
.blob {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: goldenrod;
}

.b1 {
  top: 500px;
  left: 200px;
}
.b2 {
  top: 400px;
  left: 600px;
}
.b3 {
  top: 560px;
  left: 550px;
}
.b4 {
  top: 330px;
  left: 460px;
}
.b5 {
  top: 480px;
  left: 170px;
}
.b6 {
  top: 690px;
  left: 720px;
}
