.projects-container {
  height: fit-content;
  margin-bottom: 100px;
  h1 {
    text-align: center;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 65%;
  .project {
    margin: 50px 0;
    background-color: $secondary-color;
    padding: 20px;
    div:nth-of-type(2) {
      margin-top: 30px;
    }
    p {
      margin-top: 10px;
    }
    h3 {
      width: 100%;
      border-bottom: 2px solid black;
      font-size: 2rem;
      font-weight: 300;
    }
    .external-links {
      text-align: right;
      padding-top: 20px;
    }
    a {
      text-decoration: none;
    }
    i {
      padding: 0 8px;
      font-size: 1.2rem;
    }
  }
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid black;
  padding: 30px 0;
  img {
    width: 50%;
    max-width: 500px;
    padding: 5px;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease-in 0.3s;
      transform: scale(1.5) !important;
      z-index: 3 !important;
    }
  }
}
