.burger-menu-back,
.burger-menu {
  width: 15px;
  height: 1px;
  color: black;
  position: absolute;
  top: 10px;
  right: -8px;
  margin-right: 1rem;
  transition: all 0.5s ease;
}

.burger-menu-back {
  top: -52px;
  right: 13px;
  z-index: -1;
}

.burger-menu-back::before,
.burger-menu-back::after,
.burger-menu::before,
.burger-menu::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
}

.burger-menu-back::after,
.burger-menu::before {
  transform: rotate(-45deg);
  top: 10px;
  background-color: black;
}

.burger-menu-back::before,
.burger-menu::after {
  top: 20px;
  transform: rotate(45deg);
  background-color: black;
}

.burger-menu-back::before {
  top: 10px;
}
.burger-menu-back::after {
  top: 20px;
}

.burger-container {
  display: none;
  position: fixed;
  width: 46px;
  height: 42px;
  right: 20px;
  top: 36px;
  cursor: pointer;
}

.burger-nav {
  position: absolute;
  top: 74px;
  right: -120px;
  transition: all 0.5s ease;
  a {
    background-color: $opaque-color;
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 1.1rem;
  }
}

.burger-nav-toggle {
  right: 38px;
}
