// Tablet
@media (max-width: 786px) {
  .burger-menu {
    display: block;
  }
  .nav-div {
    display: none;
  }

  .name-container {
    position: absolute;
    left: -130px;
    transform: rotate(-90deg);
    h1 {
      font-size: 2.2rem;
    }
  }

  .name {
    font-size: 2.7rem !important;
    transform: rotate(90deg);
  }
}
// Mobile Portrait
@media (max-width: 414px) {
  nav {
    background-color: red;
    height: 70px;
  }
}
