$primary-color: #6074ac;
// $primary-color: #1a2a54d7;
$secondary-color: #b1bddea1;
$opaque-color: #a8b6de;
$light-color: #89a0e0af;

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s ease;
  p,
  li {
    // font-family: "Rokkitt", serif;
    font-size: 1.1rem;
    user-select: none;
  }
  .App {
    overflow: hidden;
  }
  a,
  h1,
  h3 {
    user-select: none;
    color: black;
  }
}
.name-mobile {
  display: none;
}

.arrow {
  text-align: center;
  position: relative;
  margin: auto;
  color: $opaque-color;
  // top: -13vh;
  // top: -110px;
  // font-weight: bolder;
  top: 30px;
  // width: 50%;
  h4 {
    padding: 15px;
    margin-bottom: 5px;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 35px;
  }
  p {
    font-size: 1.3rem;
  }
}

// .divider {
//   // transform: rotate(90deg);
//   // width: 15% !important;

//   display: flex;
//   justify-content: center;
//   // justify-content: space-between;
//   transform: rotate(180deg);
//   span {
//     font-size: 2rem;
//   }
// }

.arrow-span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid $primary-color;
  border-right: 1px solid $primary-color;
  transform: rotate(-135deg);
}

.lowered-arrow {
  top: 30px;
  // color: $primary-color;
  transition: all 0.5s ease;
  h4 {
    // font-size: 1.8rem;
    transition: all 0.5s ease;
    // padding-top: 20px;
  }
}

@import "./pages/navbar";
@import "./pages/hero";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/projects";
@import "./burger";
@import "./name";
@import "./mediaQueries";
