$primary-color: #1a2a54;
$secondary-color: #89a0e0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.8s ease;
}

@import "./pages/navbar";
@import "./pages/hero";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/projects";
@import "./burger";
@import "./name";
@import "./mediaQueries";
